<h1 class="title-calendar-app">My Calendar's App</h1>

<form (ngSubmit)="addAppointment()" #appointmentForm="ngForm">
  <mat-form-field>
    <input matInput type="text" placeholder="Appointment Title" [(ngModel)]="newAppointment.title" name="title" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Appointment Date" [(ngModel)]="newAppointment.date" name="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="time" placeholder="Appointment Time" [(ngModel)]="newAppointment.time" name="time" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add Appointment</button>
</form>

<div cdkDropList (cdkDropListDropped)="onDrop($event)" class="calendar">
    <div class="appointments flex-column" *ngFor="let date of calendarDates; let i = index" cdkDrag>
      <div *ngFor="let appointment of date.appointments" class="appointment" cdkDragBoundary=".calendar">
        <div class="date">{{ date.date | date:'dd/MM/yyyy' }}</div>
        <div class="d-flex flex-row">
            <div class="title">{{ appointment.title }}</div>
            <div class="time">{{ appointment.time }}</div>
            <button mat-icon-button class="delete" color="warn" (click)="deleteAppointment(date, appointment)">
            <mat-icon>delete</mat-icon>
            </button>
        </div>
      </div>
    </div>
</div>
